{
  "env" : {
    "browser": true,
    "es6": true, /** all es6 features except modules */
    "node": true
  },
  "plugins" : [
    "scanjs-rules",
    "no-unsafe-innerhtml",
    "no-wildcard-postmessage",
    "no-unsanitized",
    "security",
    "angularjs-security-rules"
  ],
  "extends": [
  	"plugin:security/recommended",
    "plugin:no-unsanitized/DOM"
  ],
  "rules" : {
    /** useful rules from eslint **/

    /** no-unsafe-innerhtml rule **/
    "no-unsafe-innerhtml/no-unsafe-innerhtml" : 1,

    "no-wildcard-postmessage/no-wildcard-postmessage": 1,

    /** ScanJS rules **/
    "scanjs-rules/accidental_assignment": 1,
    "scanjs-rules/assign_to_hostname" : 1,
    "scanjs-rules/assign_to_href" : 1,
    "scanjs-rules/assign_to_location" : 1,
    "scanjs-rules/assign_to_onmessage" : 1,
    "scanjs-rules/assign_to_pathname" : 1,
    "scanjs-rules/assign_to_protocol" : 1,
    "scanjs-rules/assign_to_search" : 1,
    "scanjs-rules/assign_to_src" : 1,
    "scanjs-rules/call_Function" : 1,
    "scanjs-rules/call_addEventListener" : 1,
    "scanjs-rules/call_addEventListener_deviceproximity" : 1,
    "scanjs-rules/call_addEventListener_message" : 1,
    "scanjs-rules/call_connect" : 1,
    "scanjs-rules/call_eval" : 1,
    "scanjs-rules/call_execScript" : 1,
    "scanjs-rules/call_hide" : 1,
    "scanjs-rules/call_open_remote=true" : 1,
    "scanjs-rules/call_parseFromString" : 1,
    "scanjs-rules/call_setImmediate" : 1,
    "scanjs-rules/call_setInterval" : 1,
    "scanjs-rules/call_setTimeout" : 1,
    "scanjs-rules/identifier_indexedDB" : 1,
    "scanjs-rules/identifier_localStorage" : 1,
    "scanjs-rules/identifier_sessionStorage" : 1,
    "scanjs-rules/new_Function" : 1,
    "scanjs-rules/property_addIdleObserver" : 1,
    "scanjs-rules/property_createContextualFragment" : 1,
    "scanjs-rules/property_crypto": 1,
    "scanjs-rules/property_geolocation" : 1,
    "scanjs-rules/property_getUserMedia" : 1,
    "scanjs-rules/property_indexedDB" : 1,
    "scanjs-rules/property_localStorage" : 1,
    "scanjs-rules/property_mgmt" : 1,
    "scanjs-rules/property_sessionStorage" : 1,

    /** angular rules **/
    "angularjs-security-rules/detect-angular-trustAs-methods": 1,
    "angularjs-security-rules/detect-angular-trustAsHtml-method": 1,
    "angularjs-security-rules/detect-angular-trustAsCss-method": 1,
    "angularjs-security-rules/detect-angular-trustAsUrl-method": 1,
    "angularjs-security-rules/detect-angular-trustAsJs-method": 1,
    "angularjs-security-rules/detect-angular-trustAsResourceUrl-method": 1,
    "angularjs-security-rules/detect-angular-open-redirect": 1,
    "angularjs-security-rules/detect-angular-element-methods": 1,
    "angularjs-security-rules/detect-angular-orderBy-expressions": 1,
    "angularjs-security-rules/detect-angular-resource-loading": 1,
    "angularjs-security-rules/detect-angular-sce-disabled": 1,
    "angularjs-security-rules/detect-angular-scope-expressions": 1,
    "angularjs-security-rules/detect-angular-service-expressions": 1,
    "angularjs-security-rules/detect-third-party-angular-translate": 1
  }
}